$color: #2ecc71;
$bg: #f3f3f3;

$dark: #212f3f;
$dark-lighter: #2C3E50;

$width: 1240px;

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "normalize";
@import "mixins";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

body {
    font-family: "Palanquin", sans-serif;
    color: $dark;
    font-weight: 500;
    background: $bg;
}

.container {
    max-width: $width;
    width: 90%;
    margin: 0 auto;
}

.box {
    background: #fff;
    box-shadow: 10px 10px 33px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    &.green {
        background: $color;

        .box__text {
            color: black;

            h4 {
                color: white;
            }
        }
    }

    .box__text {
        padding: 30px;

        &--txtRight {
            text-align: right;

            @include small {
                text-align: left;
            }
        }

        p {
            margin: 20px 0;
            line-height: 1.5;
        }
    }

    .box__img {

        img {
            height: 100%;
            width: auto;
        }
    }

}

h1, h2, h3, h4, h5 {
    font-family: "Palanquin Dark";
    font-weight: 400;
}

h4 {
    color: $color;
    font-size: 20px;
    margin: 10px 0;
}

h5 {
    font-size: 18px;
    margin: 10px 0 0 0;
}

p {
    font-size: 16px;
    line-height: 1.5;

    @include small {
        font-size: 14px;
    }
}

a {
    color: inherit;
    transition: .3s;
}

.txtMaxWidth {
    max-width: 500px;
}

.fatTitle {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.underlineTitle {
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -11px;
        left: 0;
        width: 50px;
        height: 4px;
        background: $color;
    }
}

.btn {
    display: inline-block;
    padding: 8px 24px;
    font-family: "Palanquin Dark";
    font-size: 16px;
    font-weight: 700;
    color: rgba($dark, .9);
    text-transform: uppercase;
    border: solid 2px $color;
    border-radius: 100px;
    text-decoration: none;
    transition: .3s;

    &:hover {
        color: #fff;
        background: $color;
    }

    &--dark {
        color: #000;
        border-color: #fff;

        &:hover {
            background: #fff;
            color: $color;
        }
    }
}

.titleAndLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 0 22px;

    a {
        font-size: 21px;
        color: $color;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $dark;
        }
    }

    &__arrow {
        vertical-align: middle;
        margin-left: 7px;
    }
}

.flexRow {
    display: flex;
    justify-content: space-between;

    @include small {
        flex-direction: column;
    }

    &--middle {
        align-items: center;
    }

    > :not(:first-child) {
        margin-left: 30px;

        @include small {
            margin-left: 0;
        }
    }

    .col-1 {
        flex: 1;
    }

    .col-2 {
        flex: 2;
    }

    .col-3 {
        flex: 3;
    }

    .col-small {
        max-width: 300px;

        @include smallest {
            max-width: none;
        }
    }
}

.image {
    position: relative;
    margin: 0;

    &__img {

        img {
            margin-bottom: -3px; //bugfix
        }

    }

    img {
        max-width: 100%;
    }

    .image__caption {
        position: relative;
        z-index: 2;
        width: 80%;
        min-width: 200px;
        max-width: 500px;
        margin-top: -50px;
        margin-left: 30px;
        padding: 30px;
        font-size: 15px;

        &--big {
            font-size: 16px;
            line-height: 1.3;
            padding: 40px;
        }
    }

    &--captionSide {
        display: flex;
        align-items: center;

        @include small {
            flex-direction: column;
        }

        .image__img {
            position: relative;
            z-index: 2;
            height: auto;

            @include small {
                &.box {
                    margin-bottom: -20px;
                }
            }
        }

        .image__caption {
            padding-top: 50px;
            padding-bottom: 50px;
            z-index: 1;
            margin: 0;
            min-width: 200px;
            margin-left: -20px;
            padding-left: 50px;

            @include small {
                margin-left: 0;
                margin-top: 0;
            }
        }
    }
}

.story {
    font-size: 16px;

    &--bg {
        background: url(../img/background.svg);
        background-size: 100%;
    }

    .fatTitle {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .box {
        margin-bottom: 30px;
    }

}

.txt-center {
    text-align: center;
}

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "header";
@import "footer";

@import "pages/home";
@import "pages/singleActu";
@import "pages/association";
@import "pages/village";
@import "pages/actions";
@import "pages/singleAction";

@import "modules/posts";
@import "modules/projects";
@import "modules/partners";
@import "modules/supportUs";
